.WeatherForecast {
  margin-top: 40px;
  margin-bottom: 1px;
}

.WeatherForecast-icon {
  padding: 1px;
  border: none;
}

.WeatherForecast-temp {
  font-size: 14px;
}

.WeatherForecast-min {
  opacity: 0.6;
  margin-left: 5px;
}
